[submodule "0x02-shell_redirections/0x02-shell_redirections/alx-system_engineering-devops"]
	path = 0x02-shell_redirections/0x02-shell_redirections/alx-system_engineering-devops
	url = https://github.com/Nooha1/alx-system_engineering-devops
